<h1>Create a New Car</h1>
<form action="/cars" method="POST">
  <input type="text" placeholder="make" name="make" />
  <input type="text" placeholder="model" name="model" />
  <input type="text" placeholder="image url" name="image" />
  <button>Submit</button>
</form>
