<div class="row" style="display: flex; flex-direction: column">
  <h1 class="text-center">Create a New Car</h1>
  <div style="min-width: 30%; margin: 25px auto;">
    <form action="/cars" method="POST">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          placeholder="make"
          name="make"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          placeholder="model"
          name="model"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          placeholder="image url"
          name="image"
        />
      </div>

      <button class="btn btn-large btn-primary btn-block">Submit</button>
    </form>
    <a href="/cars">Go Back</a>
  </div>
</div>
