<h1>Sign Up</h1>

<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" minlength="6" />
  <button type="submit">Sign Up!</button>
</form>
<br />
<p>Already have an account? <a href="/login">Sign In</a></p>
